@model X.PagedList.IPagedList<LojaVirtual.Models.Categoria>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach (Categoria categoria in Model) {
    @categoria.Nome
    <br />
}
//numero das paginas e links
@Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina }))